.headerContainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(32, 25, 25, 0.2);
    padding-left: 10px;
    box-sizing: border-box;
}
.logoHolder{
    display: flex;
    height: 50px;
}
.logo{
    color: black;
    font-weight: 400;
    text-shadow: 2px 2px lightgrey;
    line-height: 50px;
}
.logo span{
    color:peru;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    width: 60px;
    line-height: 50px;
}
nav ul li:hover{
    color:white;
    background-color: peru;
}
a{
    text-decoration: none;
}